:root {
  --background-element: #2f2f37;
  --empty-bun-pudding: 16px 24px;
  --empty-bun-width: 536px;
  --empty-bun-height: 80px;
  --empty-bun-ml: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 912px;
  padding-top: 100px;
  flex-grow: 1;
}

.ingredients__container {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summ__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

.summ {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9.5px;
}

.ingredients__container__wrapper {
  border: 2px solid transparent;
  width: auto;
  max-height: 464px;
  overflow: auto;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredients__container__wrapper::-webkit-scrollbar {
  width: 8px;
}

.ingredients__container__wrapper::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.ingredients__container__wrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.empty__bun {
  border: 2px solid transparent;
  width: var(--empty-bun-width);
  height: var(--empty-bun-height);
  margin-left: var(--empty-bun-ml);
  background: var(--background-element);
  padding: var(--empty-bun-pudding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty__top__bun {
  border-radius: 88px 88px 40px 40px;
}

.empty__middle__bun {
  border-radius: 40px 40px 40px 40px;
}

.empty__bottom__bun {
  border-radius: 40px 40px 88px 88px;
}

.hovered {
  border-color: #4c4cff;
}
