* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  background: #131316;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: calc((100vw - 1240px)/2);
  margin-right: calc((100vw - 1240px)/2);
  width: auto;
  max-height: calc(100vh - 88px);
  gap: 40px;
}
