:root {
  --color-link: #4c4cff;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  max-height: 430px;
  align-items: center;
  margin: auto;
  margin-top: calc((100vh - 430px - 88px) / 2);
}

.title__container {
  height: 30px;
  width: 480px;
  align-items: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.login__button__container {
  width: 128px;
  height: 56px;
}

.register__button__container {
  width: 253px;
  height: 56px;
}

.forgot__password__button__container {
  width: 196px;
  height: 56px;
}

.reset__password__button__container {
  width: 167px;
  height: 56px;
}

.text__container {
  height: 24px;
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link {
  color: var(--color-link);
}

a {
  text-decoration: none;
}
