.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 912px;
  flex-grow: 1;
}

.title {
  height: 40px;
  width: auto;
  text-align: left;
}

.tab__container {
  display: flex;
}

.card__container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  gap: 24px;
}

.ingredients__container {
  overflow: auto;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
}

.ingredients__container::-webkit-scrollbar {
  width: 8px;
}

.ingredients__container::-webkit-scrollbar-track {
  background-color: #2F2F37;
  max-height: 664px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ingredients__container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
