.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 912px;
  flex-grow: 1;
}

.title {
  height: 40px;
  width: auto;
  text-align: left;
}

.card__container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  gap: 24px;
}

.card {
  width: auto;
  max-width: 272px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.description {
  width: 100%;
  height: 48px;
  word-wrap: normal;
}

.card__img {
  max-width: 240px;
  max-height: 120px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.ingredients__container {
  overflow: auto;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
}

.ingredients__container::-webkit-scrollbar {
  width: 8px;
  
}

.ingredients__container::-webkit-scrollbar-track {
  background-color: #2F2F37;
  max-height: 664px;
}

.ingredients__container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}